/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.list-item__name,
.list-item__text,
.new-task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__wrapper {
  display: flex;
}

.todo-task-list,
.completed-task-list {
  margin: 0;
  padding: 0px;
}

.list-item,
.section__title {
  list-style: none;
}

.list-item__checkbox,
.list-item__text,
.new-task__input,
.list-item__btn-edit,
.list-item__btn-del,
.new-task__btn {
  outline: none;
}

.list-item__btn-edit,
.list-item__btn-del,
.new-task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.list-item__btn-edit:hover,
.list-item__btn-del:hover,
.new-task__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.list-item__text,
.new-task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.list-item__text:focus,
.new-task__input:focus {
  color: #333;
}

/* New Task */
.new-task-section > .section__title {
  display: block;
  margin: 0 0 20px;
}

.new-task__input {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  vertical-align: center;
}

.list-item > .list-item__checkbox {
  margin: 0 10px;
}

.list-item > .list-item__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item > .list-item__text {
  width: 226px;
}

.btn-del-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-del-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-task-list .list-item__name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item__text {
  display: none;
}

.list-item_edit .list-item__text {
  display: inline-block;
  width: 224px;
}

.list-item_edit .list-item__name {
  display: none;
}